@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: meiryo;
  src: url(MeiryoWithMircosoftYahei.ttf);
}

::-moz-selection{ /*Firefox*/
	color:#fff;
	background: #014170;
}

::selection{
	color:#fff;
	background: #014170;
}

*{
	margin:0;
	padding:0;	
	font-family: 'Cabin', meiryo, sans-serif;
}

body{
	/*fade to another page*/
	opacity: 0;
   	transition: opacity 1s;
}

.web{
	width:100%;
	height: 100px;
	
	position: -webkit-sticky; /*Safari*/
	position: sticky;
	top: 0;
	z-index: 2000;
}

.web img{
	width: 20%;
	margin: auto;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: .3s;
}

.web img:hover{
	cursor: pointer;
	opacity: .7;
}

.banner{
	clear: both;
	text-align: center;
}

.banner img{
	width: 100%;
}


/*body*/
.box{
	width: 15px;
	height: 60px;
	font-size:40px;
	line-height:80px;
	margin-bottom:15px;
	text-align:center;
	color:#014170;
	background: #e9c46a;
	box-sizing:border-box;
	transition: 0.5s;
}

.box:hover{
	background:#014170;
	color:#B4B5BF;
	cursor:pointer;
}


/*aside*/ 
aside{ 
	position:relative;
	left:50px;
	top:50px;
	width:100px;
	z-index:1000;
	color: rgba(255,255,255,0);
} 

.snowbar{
	position:fixed;
	top: 100px;
	width:100px;
	z-index:1000;
	color: rgba(255,255,255,0);
}

.snowbar img:hover{
	cursor: pointer;
}

.snowbar1{
	left:1230px;
}

.snowbar2{
	left:1350px;
}


/*section*/ 
section{ 
	clear: both;
	width: 80%;
	/*position:relative;*/
	width:100vw;
}

.content{ 	
	position:absolute;
	margin-top: 400px;
	left: 85px;
	bottom: 10px;
	display:none;
}

.content img{
	width: 100%;
}

a{
	color: #014170;
}

span{
	font-size: 20px;
}

.wraptext{
	float: left;
	
	box-sizing: border-box;
	padding: 30px;
	width: 66.66%;
}

.wraptext p{
	line-height: 2em;
	font-size: 15px;
}

.totop{
	clear: both;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100000;
	font-size: 44px;
}

.fa-angle-double-up{
	transition: .3s;
}

.fa-angle-double-up:hover{
	opacity: .5;
}


/*footer*/
footer{
	padding:20px;
	text-align:center;	
}

/*for tablets*/
@media only screen and (min-width: 768px) {
	.banner img{
		width: 50%;
	}

	.teru_ch_bg{
		background: #FFE800;
	}

	.teru .fa-angle-double-up{
		color: #FFE800;
	}

	.fukka_ch_bg{
		background: #A770FF;
	}

	.fukka .fa-angle-double-up{
		color: #A770FF;
	}

	.raul_ch_bg{
		background: #fff;
		border-color: #000;
		border-style: solid;
	}

	.raul .fa-angle-double-up{
		color: #000;
	}

	.shoppi_ch_bg{
		background: #309AFF;
	}

	.shoppi .fa-angle-double-up{
		color: #309AFF;
	}

	.koji_ch_bg{
		background: #FFA300;
	}

	.koji .fa-angle-double-up{
		color: #FFA300;
	}
	.abe_ch_bg{
		background: #408D2C;
	}

	.abe .fa-angle-double-up{
		color: #408D2C;
	}

	.meme_ch_bg{
		background: #000;
	}

	.meme .fa-angle-double-up{
		color: #000;
	}

	.date_ch_bg{
		background: #D91414;
	}

	.date .fa-angle-double-up{
		color: #D91414;
	}

	.sakuma_ch_bg{
		background: #FF8ED4;
	}

	.sakuma .fa-angle-double-up{
		color: #FF8ED4;
	}

	.content{ 	
		left:500px;
		top:10px;
		bottom: 10px;
	}
	
	.content img{
		width: 80%;
	}

	.wraptext{
		width: 33.33%;
	}
}

/*for desktops*/
@media only screen and (min-width: 1200px) {

}

