@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: meiryo;
  src: url(MeiryoWithMircosoftYahei.ttf);
}

::-moz-selection{ /*Firefox*/
	color:#014170;
	background: #fff;
}

::selection{
	color:#014170;
	background: #fff;
}

*{
	margin:0;
	padding:0;	
	font-family: 'Cabin', meiryo, sans-serif;
}


.banner{
	text-align: center;
}

.banner img{
	width: 100%;
}

/*aside*/ 
aside{ 
	position:fixed;
	left:50px;
	top:50px;
	width:100px;
	height:300px;
	z-index:1000;
	color: rgba(255,255,255,0);
} 


/*section*/ 
section{ 
	clear: both;
	width: 80%;
	margin: auto;
	
	position:relative;
	width:100vw;
}

.content{ 	
	position:absolute;
	
	left:85px;
	top:10px;
	
	bottom: 10px;
	display:none;
}

.content img{
	width: 100%;
}

a{
	color: #014170;
}

span{
	font-size: 20px;
}

.wraptext{
	float: left;
	
	box-sizing: border-box;
	padding: 30px;
	width: 66.66%;
}

.wraptext p{
	line-height: 2em;
	font-size: 15px;
}


/*footer*/
footer{
	padding:10px;
	text-align:center;	
}

/*for tablets*/
@media only screen and (min-width: 768px) {
	.banner img{
		width: 50%;
	}

	.teru_box{
		width: 15px;
		height: 60px;
		font-size:40px;
		line-height:80px;
		margin-bottom:15px;
		text-align:center;
		color:#014170;
		background: #e9c46a;
		box-sizing:border-box;
		transition: 0.5s;
	}
	
	.teru_box:hover{
		background:#014170;
		color:#B4B5BF;
		cursor:pointer;
	}

	.teru_ch_bg{
		background: #FFE800;
	}
	
	.content{ 	
		left:500px;
		top:10px;
		bottom: 10px;
	}
	
	.content img{
		width: 80%;
	}

	.wraptext{
		width: 33.33%;
	}
}

/*for desktops*/
@media only screen and (min-width: 1200px) {

}

